$mobilesize: 680px;

.container {
	width: 100%;
	margin:auto;
}

.itemcont {
	width: 80%;
	margin: auto;
	padding: 20px 0px;
	@media screen and (max-width: $mobilesize) {
		width: calc(100% - 20px);
		padding: 10px 0px;
	}
}


#lastline-contact {
	width: 100%;
	text-align: center;
	a {
		color: $maincolor;
	}
}