.site-footer {
	width: 100%;
	background: rgba(0,0,0,0.2);
	font-size: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.copyright {
	display: inline-block;
}

#footer-sidebar {
	display: flex;
	padding: 0px;
}

.widgetspace {
	width: 30%;
	margin: auto;
}